<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ETA of Shipments</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/logo.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/simple-datatables/style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <style>
    table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
}
.split-table {
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
</style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="/static/img/logo.jpg" alt="">
        
      </a>
      <i class="bi bi-list toggle-sidebar-btn" onclick="changeStyleOnClick()"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/img/human-icon.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Admin</h6>
              <span>Founder</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/" style="background-color: #fff;color: #012970">
          <i class="bi bi-grid" style="color: #899bbd;"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/shipentry">
              <i class="bi bi-circle"></i><span>Shipment entry</span>
            </a>
          </li>
          <li>
            <a href="/adpay">
              <i class="bi bi-circle"></i><span>Advance Payment</span>
            </a>
          </li>
          <li>
            <a href="/shipdoc">
              <i class="bi bi-circle"></i><span>Shipment documents</span>
            </a>
          </li>
          <li>
            <a href="/portclear">
              <i class="bi bi-circle"></i><span>Port Clearance</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#" style="color: #4154f1;
        background: #f6f9ff;">
          <i class="bi bi-file-earmark" style="color:#4154f1"></i><span>Reports</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/advpaid">
              <i class="bi bi-circle"></i><span>Advance paid</span>
            </a>
          </li>
          <li>
            <a href="/advpen">
              <i class="bi bi-circle"></i><span>Advance pending</span>
            </a>
          </li>
          <li>
            <a href="/intransit">
              <i class="bi bi-circle"></i><span>In transit</span>
            </a>
          </li>
          <li>
            <a href="/notshipped">
              <i class="bi bi-circle"></i><span>Yet to be shipped</span>
            </a>
          </li>
          <li>
            <a href="/ETA_ship">
              <i class="bi bi-circle"></i><span>ETA of shipments</span>
            </a>
          </li>
          <li>
            <a href="/mat_wise_ship">
              <i class="bi bi-circle"></i><span>Material Wise Shipments</span>
            </a>
          </li>
          <li>
            <a href="/month_ship">
              <i class="bi bi-circle"></i><span>Monthly Shipment Report</span>
            </a>
          </li>
          <li>
            <a href="/month_item">
              <i class="bi bi-circle"></i><span>Monthly Item Wise Report</span>
            </a>
          </li>
          <li>
            <a href="/LPR_month">
              <i class="bi bi-circle"></i><span>Landed Price reports</span>
            </a>
          </li>
        </ul>
      </li><!-- End Reports Nav -->

             <!-- ---Masters nav---- -->
             <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#master-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="master-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a href="/suppliermaster">
                    <i class="bi bi-circle"></i><span>Supplier</span>
                  </a>
                </li>
                <li>
                  <a href="/indentormaster">
                    <i class="bi bi-circle"></i><span>Indentor</span>
                  </a>
                </li>
                <li>
                  <a href="/materialmaster">
                    <i class="bi bi-circle"></i><span>Material</span>
                  </a>
                </li>
                <li>
                  <a href="/shiplinemaster">
                    <i class="bi bi-circle"></i><span>Shipping Line</span>
                  </a>
                </li>
              </ul>
            </li>
      
             <!-- ---Masters nav end ---- -->



    </ul>

  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">
    <!-- 
    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div>End Page Title -->

    <section class="section">
      <!-- Recent Sales -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="filter">
            <!-- <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a> -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">ETA of Shipments</h5>
            <div id="content">
            <table class="table table-borderless datatable" id="data-table" style="font-size: 12px;">
              <thead>
                <tr>
                  <th scope="col">PO NO.</th>
                  <th scope="col">Inv No.</th>
                  <th scope="col">Sup Name</th>
                  <th scope="col">Origin</th>
                  <th scope="col">Confirm date</th>
                  <th scope="col">CSN</th>
                  <th scope="col">Cont. date</th>
                  <th scope="col">Item</th>
                  <th scope="col">Inv Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Inv. amt</th>
                  <th scope="col">Cont No.</th>
                  <th scope="col">Shipping line</th>
                  <th scope="col">ETD</th>
                  <th scope="col">ETA</th>
                  <th scope="col">DFD</th>
                  <th scope="col">Free date</th>
                  <th scope="col">Transit time</th>
                  <th scope="col">Port</th>
                  <th scope="col">CHA</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in combined_data %}
                <tr>
                  <td>{{entry.pono}}</td>
                  <td>{{entry.invno}}</td>
                  <td>{{entry.supp_name}}</td>
                  <td>{{entry.origin}}</td>
                  <td>{{entry.confirmdate}}</td>
                  <td>{{entry.csn}}</td>
                  <td>{{entry.contdate}}</td>
                  <td>{{entry.material_name}}</td>
                  <td>{{entry.inv_qty}}</td>
                  <td>{{entry.price}}</td>
                  <td>{{entry.value_of_goods}}</td>
                  <td>{{entry.contno}}</td>
                  <td>{{entry.shipline}}</td>
                  <td>{{entry.etd}}</td>
                  <td>{{entry.eta}}</td>
                  <td>{{entry.dfd}}</td>
                  <td>{{entry.freedate}}</td>
                  <td>{{entry.time}}</td>
                  <td>{{entry.port}}</td>
                  <td>{{entry.cha}}</td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button id="download-csv" class="btn btn-primary">Download CSV</button>
          </div>

        </div>
      </div><!-- End Recent Sales -->
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Metal Care Alloys</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="#">Pods Technology Solutions</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/vendor/echarts/echarts.min.js"></script>
  <script src="/static/vendor/quill/quill.min.js"></script>
  <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js">
  </script>

<script>
  function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;

      csvFile = new Blob([csv], {type: "text/csv"});

      downloadLink = document.createElement("a");
      downloadLink.download = filename;
      downloadLink.href = window.URL.createObjectURL(csvFile);
      downloadLink.style.display = "none";
      document.body.appendChild(downloadLink);
      downloadLink.click();
  }

  function exportTableToCSV(filename) {
      var csv = [];
      var rows = document.querySelectorAll("#data-table tr");

      for (var i = 0; i < rows.length; i++) {
          var row = [], cols = rows[i].querySelectorAll("td, th");

          for (var j = 0; j < cols.length; j++)
              row.push(cols[j].innerText);

          csv.push(row.join(","));
      }

      downloadCSV(csv.join("\n"), filename);
  }


  document.getElementById("download-csv").addEventListener("click", function () {
      exportTableToCSV('ETA_Shipment_Report.csv');
  });

</script>


  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>